<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Giornno Giovanna / Aparência</title>
    <meta name="description" content="Site dedicado a apreciar a grandeza de Giorno Giovanna.">
    <meta name="keywords" content="Giorno, Giovanna, jojo, parte 5, jojo bizzares adventures">
    <meta name="author" content="Eduardo Gladzik - eduardogladzik@gmail.com">
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
  </head>
  <body>
    <div class="geral">
        <header class="topo3"></header>

      <nav class="menu"><!--espaço de menu-->
        <ul>
          <li> <a href="index.html"> Página Principal </a> </li>
          <li> <a href="pessoal.html"> Pessoal </a> </li>
          <li> <a href="aparencia.html"> Aparência </a> </li>
          <li> <a href="stand.html"> Stand </a> </li>
          <li> <a href="#"> Galeria </a> </li>
          <li> <a href="#"> Informações adicionais </a> </li>
      </nav>

      <section class="conteudo">
        <h1> Giorno Giovanna / Aparência </h1>
        <p>
          Esta sessão busca exaltar o quão belo e excentrico <strong>Giorno</strong> pode ser.
        </p><br>

        <figure class="figureaparencia0"><img src="img/imagens/imagem7.png" alt="giorno"></figure>

        <h2> Aparência </h2>
        <p>
          Giorno é um adolescente de estatura média e porte esbelto,
          mas musculoso, muito menor em estatura que o anterior JoJos .
          Ele tem cabelos dourados de comprimento moderado, amarrados em uma
          cauda curta e trançada, com três cachos grandes e distintos, dispostos
          em uma fileira sobre a testa. Seu cabelo era originalmente preto e
          despenteado, mas transformado ao despertar sua posição. Seus olhos,
          especialmente presentes em representações anteriores, afiam os
          extremos semelhantes aos do pai.
          </p><br>

        <h2> Vestuário </h2>
        <p>
          Giorno veste um terno de duas peças com uma cauda de casaco xadrez e
          várias características ornamentadas, incluindo emblemas em forma de
          asa nos colarinhos e uma abertura em forma de coração na área do peito.<br>
           A característica mais marcante de seu traje são os três emblemas de
           joaninha localizados em ambos os lados do peito e diretamente abaixo
           do zíper, combinando com a aparência de seu suporte. Mais tarde, seus
           sapatos também têm o mesmo emblema de joaninha. O esquema de cores de
           seu traje geralmente muda em diferentes representações, mas as cores
            mais comuns são o azul delineado com ouro e o rosa delineado com verde.
          </p><br>

            <figure class="figureaparencia"><img src="img/imagens/imagem8.png" alt="giorno"></figure>

            <footer class="rodapé"><!--Contato-->
              <address> eduardogladzik@gmail.com & Ren.amamiya.com@gmail.com</address>
            </footer>
      </section>
  </body>
</html>
