<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Giorno Giovanna</title>
    <meta charset="utf-8">
    <meta name="description" content="Site dedicado a apreciar a grandeza de Giorno Giovanna.">
    <meta name="keywords" content="Giorno, Giovanna, jojo, parte 5, jojo bizzares adventures">
    <meta name="author" content="Eduardo Gladzik - eduardogladzik@gmail.com">
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
  </head>
  <body>
    <div class="geral">
      <header class="topo"><!--conteúdo no css--></header>

      <nav class="menu"><!--espaço de menu-->
        <ul>
          <li> <a href="index.html"> Página Principal </a> </li>
          <li> <a href="pessoal.html"> Pessoal </a> </li>
          <li> <a href="aparencia.html"> Aparência </a> </li>
          <li> <a href="stand.html"> Stand </a> </li>
          <li> <a href="#"> Galeria </a> </li>
          <li> <a href="#"> Informações adicionais </a> </li>
      </nav>

      <section class="conteudo"><!--conteúdo do site-->
        <h1> Giorno Giovanna </h1>
        <div class="colunas">
          <p>
            Este site é dedicado a explicar porque <strong>Giorno Giovanna</strong> é o melhor <strong>JoJo</strong>
            do anime <strong>JoJo's Bizarres Adventures</strong>.
          </p><br>
          <p>
            <strong>Giorno Giovanna</strong> (ジョルノ · ジョバァーナ Joruno Jobāna) é o principal herói
            e protagonista da <strong>Parte 5: Vento Aureo</strong>.<br>
            Ele é filho ilegítimo do vilão principal da série, <strong>Dio Brando</strong>,
            concebido quando o mesmo rouba o corpo de <strong>Jonathan Joestar</strong>.
            </p> <br>

        <h2>História</h2>
          <p>
           Nascido com o nome de Haruno Shiobana (汐华初 流乃 Shiobana Haruno),
           Giorno é o filho de Dio (pai usando o corpo de Jonathan Joestar, que
           logicamente que faria parte da família Joestar) e uma mulher japonesa.
           Quando criança sua mãe se casou com um italiano, e se mudaram para
           a Itália, daí Haruno Shiobana se tornou Giorno Giovanna. A grande
           ambição de Giorno na vida é se tornar um chefe da máfia
           (a "Gang Star"), e, como tal, ele finalmente se junta ao esquadrão
           Passione. Embora ele seja o membro mais jovem, rapidamente prova o
           seu valor e, eventualmente, se torna o líder do grupo. Ao contrário
           de chefes da máfia típicos, ele queria dar riquezas aos pobres,
           dando-lhe uma aparência similar ao Robin Hood. Ele eventualmente
           influencia todos os membros da Passione exceto seu chefe, que mais
           tarde tornou-se seu pior inimigo.
         </p> <br>
         <p>
           <h2>Personalidade</h2>
           "Ele certamente herdou o Espirito Joestar!" <br>

           <p>
             A infância de Giorno foi preenchida com infelicidade e solidão devido
           a intimidações e abuso do padrasto . Durante sua infância, ele foi
           frio e indiferente a alguém e acreditava ser escória apenas pela
           maneira como as pessoas o tratavam. Aqueles que o conheciam
           facilmente pensaram que ele cresceria para se tornar um indivíduo
           distorcido. Isso mudou quando ele se tornou um gangster ferido que
           ele salvou. Como o homem protegeu Giorno daqueles que o fizeram]
           mal em troca de sua ajuda, ele aprendeu que podia confiar nas
           pessoas. Desde então, ele se tornou uma pessoa mais confiante e
           solícita.
          </p><br>
           <p>
             Uma característica definidora de Giorno, e compartilhada entre seus
           pares através dele, é sua determinação ( 覚 悟kakugo ) ; algo que pode
           ser descrito como sua capacidade de tomar decisões importantes sem
           hesitar e vê-las até o fim, mesmo diante da dor, tristeza e tragédia.
           Ao longo da Parte 5, a determinação de Giorno é tal que, no calor
           da batalha, ele frequentemente está disposto a se machucar se isso
           levar a uma situação vantajosa. Um indivíduo ambicioso, ele
           prontamente aproveita qualquer ocasião para atingir seu objetivo
           final de se tornar um "Gang-Star". Ao começar a cooperar com o
           gangster da Passione , Bruno BucciaratiGiorno não perde tempo em se
           infiltrar na gangue e continua subindo as fileiras. Seu assassinato
           de Polpo foi parcialmente uma maneira de conseguir uma promoção
           para Bucciarati. Mais tarde, Giorno também tentou se aproximar
           pessoalmente do chefe de Passione e planejou plantar um
           dispositivo de rastreamento nele.
          </p><br>
           <p>
             Sendo um adolescente muito sério, a mente de Giorno não se desvia do
           caminho de sua missão e dos objetivos que ele estabeleceu para si mesmo.
           No entanto, Giorno ocasionalmente pensou em assuntos mais mundanos,
           como a deliciosa pizza margherita de Nápoles, pouco antes de ser atacada
           pelo Notorious BIG . [5] Giorno tende a abordar muitas coisas com um
           comportamento calmo, e demonstra imensa compostura mesmo quando
           confrontado com perigos que ele pode não entender completamente, com
           Koichi descrevendo-o como tendo uma 'serenidade brilhante' no lugar
           de onde deveria estar a maior apreensão. [6] No entanto, ele ainda
           pode ficar ansioso quando as coisas vão para o sul. Giorno raramente
           permite que sua raiva leve o melhor dele, mas mostra momentos de
           fúria tranquila, se não opressiva, contra certos inimigos .
           Na pior das hipóteses, Giorno fica desesperado por soluções
           para os problemas e pode ser visto gritando e suando quando
           emocionalmente angustiado, embora ele nunca atinja um nível de
           pânico para se tornar imprudente ou impetuoso.
         </p> <br>
         <figure class="figuracolunas"><img src="img/imagens/imagem3.png" alt="GIORNO GORDITO"></figure>
         <br>



      </div>

      <!-- <table>
        <tr> <th colspan="2" class="centro"> Giorno Giovanna </th> </tr>
        <tr> <th> Origem do nome: </th> <th> Giorno ("dia" em italiano) <br> Giovanna (feminino de Giovanni) </th> </tr>
        <tr> <th> Stand: </th> <th> Gold Experience <br> GoldExperience Requiem</th> </tr>
        <tr> <th> Primeria aparição: </th> <th> VA Capitulo 1 - Golden Experience (1)</th> </tr>
        <tr> <th> Ultima aparição: </th> <th> VA Capitulo 155 - Sleeping Slaves(5) </th> </tr>
        <tr> <th> Aparições: </th> <th> Parte 5 </th> </tr>
        <tr> <th> Idade: </th> <th> 15 </th> </tr>
        <tr> <th> Gênero: </th> <th> Masculino </th> </tr>
        <tr> <th> Nacionalidade: </th> <th> Nipo-italiano </th> </tr>
        <tr> <th> Nascimento: </th> <th> 16 de Abril de 1985 </th> </tr>
        <tr> <th> Signo do zodiaco: </th> <th> Áries </th> </tr>
        <tr> <th> Altura: </th> <th> 1,72m </th> </tr>
        <tr> <th> Tipo saguíneo: </th> <th> AB </th> </tr>
        <tr> <th> Cor do cabelo: </th> <th> preto: pré-parte 5 <br> loiro: parte 5</th> </tr>
        <tr> <th> Cor dos olhos: </th> <th> Azul turquesa (anime) </th> </tr>
        <tr> <th> Ocupação: </th> <th> Passione Soldato </th> </tr>
        <tr> <th> Comida favorita: </th> <th> Salada de polvo com pudim de chocolate </th> </tr>
        <tr> <th> Musico favorito: </th> <th> Jeff Beck </th> </tr>
      </table>
      <table>
        <tr> <th colspan="2" class="centro"> Parentes </th> </tr>
        <tr> <th> Pai </th> <th> Dio Brando </th> </tr>
        <tr> <th> Pai biológico </th> <th> Jonathan Joestar </th> </tr>
        <tr> <th> Mãe </th> <th> Desconhecida </th> </tr>
        <tr> <th> Meio-irmão </th> <th> Geoge Joestar segundo </th> </tr>
        <tr> <th> Meio-irmão </th> <th> Donatello Versus </th> </tr>
        <tr> <th> Meio-irmão </th> <th> Rikiel </th> </tr>
        <tr> <th> Meio-irmão </th> <th> Ungalo </th> </tr>
        <tr> <th> Meio-sobrinho </th> <th> Joseph Joestar </th> </tr>
        <tr> <th> Famílias: </th> <th> Brando / Joestar </th> </tr>
      </table> -->

      </section>

      <footer class="rodapé"><!--Contato-->
        <address> eduardogladzik@gmail.com & Ren.amamiya.com@gmail.com</address>
      </footer>

    </div>

  </body>
</html>
