<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Giornno Giovanna / Pessoal</title>
    <meta name="description" content="Site dedicado a apreciar a grandeza de Giorno Giovanna.">
    <meta name="keywords" content="Giorno, Giovanna, jojo, parte 5, jojo bizzares adventures">
    <meta name="author" content="Eduardo Gladzik - eduardogladzik@gmail.com">
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
  </head>
  <body>
    <div class="geral">
      <header class="topo2"><!--conteúdo no css--></header>

      <nav class="menu"><!--espaço de menu-->
        <ul>
          <li> <a href="index.html"> Página Principal </a> </li>
          <li> <a href="pessoal.html"> Pessoal </a> </li>
          <li> <a href="aparencia.html"> Aparência </a> </li>
          <li> <a href="stand.html"> Stand </a> </li>
          <li> <a href="#"> Galeria </a> </li>
          <li> <a href="#"> Informações adicionais </a> </li>
      </nav>

      <section class="conteudo">
        <h1> Giorno Giovanna / Pessoal </h1>
        <p>
          Essa sessão traz algumas informações sobre as <strong>Habilidades Pessoais</strong>
          do excelentissímo <strong>Giorno Giovanna</strong>.
        </p><br>
          <h2>Inteligência:</h2>
        <p>
           Giorno é um estrategista muito competente. Observador por
          natureza, Giorno gosta de afirmar as habilidades e os planos de seus
          oponentes antes de agir. Ele então usa suas observações para investigar
          qualquer fraqueza da parte deles e prever o que eles farão, geralmente
          retornando seus movimentos contra eles. Usando seu Stand com uma
          imaginação notável, Giorno se oferece uma ampla gama de possibilidades,
          a exploração do poder da Gold Experience e a característica dos animais
          em que ele transforma objetos permite que Giorno, entre outros,
          se reposicione rapidamente ou rastreie seus oponentes. Além disso, ele
          é bom em usar seu ambiente a seu favor. Giorno é rápido em seus pés e é
          capaz de formular planos no local.
        </p><br>
        <p>
          Giorno mostrou-se hábil em cooperar com outros usuários de stand com a
           máxima eficácia, particularmente Guido Mista com quem ele é próximo.
           Giorno é capaz de explorar o poder de seu parceiro quase tão
           efetivamente quanto o seu, levando em consideração suas habilidades
           precisas e usando-as em suas táticas. O mais básico de tudo é
           transformar as balas de Mista em outras formas de vida para pegar seus
           inimigos de surpresa e multiplicar o alcance efetivo de Giorno.
         </p><br>
         <p>
           Apesar de parecer ter um lado imprudente, notadamente infectando-se com
            o vírus de Purple Haze, Giorno é uma pessoa muito cuidadosa,
            constantemente avisando seus parceiros de sua impaciência. Ele sempre
            tem planos de backup e garante que seus inimigos sejam eliminados.
            Embora pareça desatento, Giorno assume riscos calculados.
          </p><br>
            <h2> Conhecimento: </h2>
          <p>
           Giorno é muito conhecedor de biologia. Seu conhecimento enciclopédico
           da fauna e flora permite que ele transforme objetos nas formas de vida
           mais adequadas ao seu objetivo, além de deduzir os poderes de seus
           inimigos.
         </p><br>
            <h2> Carisma: </h2>
          <p>
            Giorno é um indivíduo carismático, capaz de influenciar as pessoas ao
             seu lado facilmente, através da fala ou de ações-chave. Seus hábitos
             de observar seus colegas permitem deduzir a melhor maneira de
             impressioná-los e torná-los aliados, garantindo-lhes determinação e
             confiança quando trabalham com ele. Indiscutivelmente, essa
             característica é provavelmente herdada de seu pai.
           </p><br>
              <h2> Roubo furtivo: </h2>
          <p>
            Como ele próprio admitiu, Giorno é um picareta talentoso. Embora
            demonstrado apenas uma vez, sua habilidade é inegável, pois ele
            conseguiu roubar a carteira de um guarda prisional no meio de sua
            busca pelo corpo.
          </p><br>
              <h2> Truque da orelha: </h2>
          <p>
            Giorno mostrou a capacidade de enfiar todo o ouvido em sua cabeça,
            e essa foi, de fato, a primeira habilidade que ele exibiu quando foi
            apresentado. No entanto, embora seja bastante divertido como um truque
            de salão, não tem utilidade prática. Giorno usou seu truque para
            ajudar a convencer dois seguranças a deixarem enganar turistas no
            aeroporto de Nápoles.
          </p><br>

            <figure class="figurapessoal"><img src="img/imagens/imagem5.png" alt="giorno giovanna"></figure>

          <footer class="rodapé"><!--Contato-->
            <address> eduardogladzik@gmail.com & Ren.amamiya.com@gmail.com</address>
          </footer>
      </section>
  </body>
</html>
