<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Gold Experience / Stand</title>
    <meta name="description" content="Site dedicado a apreciar a grandeza de Giorno Giovanna.">
    <meta name="keywords" content="Giorno, Giovanna, jojo, parte 5, jojo bizzares adventures">
    <meta name="author" content="Eduardo Gladzik - eduardogladzik@gmail.com">
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
  </head>
  <body>
    <div class="geral">
      <header class="topo4"></header>

      <nav class="menu"><!--espaço de menu-->
        <ul>
          <li> <a href="index.html"> Página Principal </a> </li>
          <li> <a href="pessoal.html"> Pessoal </a> </li>
          <li> <a href="aparencia.html"> Aparência </a> </li>
          <li> <a href="#"> Stand </a> </li>
          <li> <a href="#"> Galeria </a> </li>
          <li> <a href="#"> Informações adicionais </a> </li>
      </nav>

      <section class="conteudo">
        <h1> Gold Experience / Stand </h1>
        <p>
          Esta sessão tem como objetivo entender como um dos <strong>melhores stands da série (Gold Experience)</strong> funciona, quais são suas habilidades.
        </p><br>

          <figure class="figurastand"><img src="img/imagens/imagem9.jpg" alt="giorno e gold Experience"></figure>

        <h2> Habilidades: </h2>
          <h3> Gold Experience </h3>
          <p>
            é um dos stands mais versáteis da série.
            Tem a capacidade de criar e manipular a vida, que Giorno costuma
            usar para produzir plantas e pequenos animais. Ambos podem ser
            usados ​​para uma variedade de finalidades, desde disfarces a rastrear
            origens. Como um Power-type de curto alcance, também é capaz de
            desencadear uma rápida barragem de socos, que Giorno usa quase
            exclusivamente com intenção letal.
          </p><br>

          <h3> Gold Experience Requiem </h3>
          <p>
            é obtido depois que Giorno perfura a Experiência Dourada com a
            Flecha que cria Stands . Ele tem a capacidade de transformar a força
            de vontade e as ações do oponente em zero. Quem é morto por Requiem
            também "terá sua morte transformada em zero", forçando-os a um
            ciclo de morte por toda a eternidade. A Experiência Ouro também
            foi perfurada pela Flecha durante a Entrando na Gangue, Parte 4,
            quando Giorno é atacado pelo Black Sabbath, mas não está claro se
            isso é um descuido por parte de Araki, ou o Requiem era possível
            na época, mas só foi percebido quando havia um motivo. manifestar.
          </p><br>

          <h2> Como Giorno usa seu stand </h2>
            <p>
              Giorno prova ser um Usuário Stand imaginativo e proficiente, se não passivo em seu progresso.
            </p><br>
            <p>
              Graças ao seu conhecimento enciclopédico sobre biologia, fauna e
              flora, Giorno pode usar eficientemente o poder da Gold Experience
              para dar vida, pensando na melhor forma de vida para criar e
              esperar o que é mais provável que eles façam, o que lhe dá uma
              aparência de controle sobre a vida. formas de vida que cria.
              Por exemplo, ele criou especificamente uma cobra contra Illuso,
              que estava escondido em um mundo paralelo, usando sua suposta
              tendência de procurar fontes de calor para encontrar o inimigo.<br>
              Giorno também provou ser criativo, explorando as propriedades
              de seus poderes para suas vantagens, por exemplo, explorando a
              capacidade da Gold Experience de cultivar árvores rapidamente como
              uma área de ataque empalante, ou fazendo uma árvore murchar para
              enganar o Black Sabbath até a luz do dia.
            </p><br>
            <p>
              No entanto, Giorno não procurou todo o potencial de seu estande,
              ao contrário de seu pai. Por exemplo, não tendo necessidade de
               usar o Gold Experience em uma luta até enfrentar os membros de
               Passione , ele apenas descobriu a capacidade do Gold Experience
               de infundir pessoas com vida durante sua briga com Bucciarati e
               também teve que observar o poder do Baby Face para se inspirar
               na criação. órgãos específicos.
             </p><br>
             <p>
               Giorno funciona bem em conjunto com parceiros. Giorno é um bom
               curandeiro e fez uma boa parceria com Guido Mista, suas balas são
               projéteis perfeitos que podem ser transformados à distância em
               formas de vida. Dessa forma, ele transformou balas em uma árvore
               e conseguiu prender um helicóptero que, de outra forma, seria
               intocável para os dois.
             </p>

             <figure class="figurastand0"><img src="img/imagens/imagem6.png" alt="giorno e gold Experience"></figure>


          <footer class="rodapé"><!--Contato-->
            <address> eduardogladzik@gmail.com & Ren.amamiya.com@gmail.com</address>
          </footer>
        </section>
